.createPost {
    margin: 0 auto;  
    position: absolute;
    overflow: hidden;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    width: 1000px; 
    height: 300px;
    max-width: 90%;  
    background-color: rgba(14, 14, 14, 0.9);  
    border-radius: 8px;  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);  
    z-index: 5;
    opacity: 1;  
    padding: 20px;  
    color: white;  
    display: flex; 
    flex-direction: column; 
    margin-left: 40px;
    margin-top: 40px;
    overflow-y: auto;  

}

.createImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 2%;
    position: relative;
    top: 4px;
}

.createUserName {
    font-size: 15px;
    margin-left: 10px;
    position: relative;
    top: -6px;
}

.clossicon1{
    border: none;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(174, 23, 38);
    color: white;
    cursor: pointer;
    position: relative;
    margin-left: 2%;
    bottom: 2px;
}

.PostButton {
    border: none;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(23, 23, 174);
    color: white;
    cursor: pointer;
    position: relative;
    margin-left: 92%;
    bottom: 48px;
}

.topic {
    position: relative;
    align-items: center;
    bottom: 15px;
    border: 3px solid gray;  
    background-color: rgb(207, 207, 207);
    padding-top: 15px;  
    padding-bottom: 20px;  
    height: 55px;  
    margin-top: 20px; 
}

.clossicon {
    margin-right: 220%;
    position: relative;
}

.header {
    margin-left: 42%;
    bottom: 25px;
    position: relative;
    font-size: 130%;
    color: black;
}

.fButton{
    margin-left: 48px;
    position: relative;
    font-size: 100%;
    border: 3px solid rgb(96, 84, 224); 
    background-color: rgb(150, 145, 205); 
    border-radius: 5px;
    height: 22px; 
    color: rgb(0, 0, 0);
}

.privacyOptions{
    margin-left: 49px;
}

.addPostInput2 {
    margin: 10px 5%;  
    width: 90%; 
    height: 50px;  
    padding: 10px;  
    box-sizing: border-box;  
    font-size: 14px;  
    border: 1px solid #ccc; 
    border-radius: 5px;  
    background-color: rgb(40, 40, 40);  
    color: rgb(244, 244, 244);  
}

.addPostInput2::placeholder {
    color: rgb(212, 212, 212); 
    font-style: italic;  
    opacity: 1;  
}

.createBottom {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    gap: 10px;  
}

.createBottom {
    display: flex; 
    justify-content: space-around;  
    align-items: center;  
}   

.createBottom button {
    background: transparent; 
    border: none;  
    cursor: pointer;  
    padding: 12px 16px;  
    outline: none;  
    transition: background-color 0.3s;  
    width: 60px; 
    height: 60px;  
}

.createBottom button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 4px;  
}    

.createBottom .PIcon,
.createBottom .TIcon,
.createBottom .FIcon,
.createBottom .LIcon,
.createBottom .CIcon {
    font-size: 24px;  
    width: 100%; 
    height: 100%;  
    display: flex; 
    justify-content: center; 
    align-items: center;  
}

.create-background-blur{ 
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f68;
    z-index: 5;
    opacity: 100%;
    right: 1%;
}

.uploadedFiles {
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 10px;  
    margin-left: 45px; 
}
  
.filePreview {
    position: relative;
    overflow: hidden;
    border-radius: 8px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  
    height: 220px;  
  }
  
.fileImage,
.fileVideo {
    width: 100%;  
    height: 100%;  
    object-fit: cover; 
  }
  
.postedFiles {
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 20px;    
    overflow-y: auto;  
    overflow-x: auto; 
    margin-left: 45px; 
}
 

