.findAnswer-container {
    background-color: rgb(189, 226, 252);
    width: 75%;
    margin-top: 5%;
    margin-left: 20%;
}

.findAnswer-navbar {
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.879);
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 15px;
}

.dropdown-subjects,
.dropdown-sort select {
    width: 150px;
    height: 40px;
    background-color: #fff;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.879);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--border-blue);
    
}

.options {
    background-color: #6da0ed;
    color: rgba(0, 0, 0, 0.879);
    font-size: 15px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid var(--border-blue);
    
    
}

.options:hover {
    background-color: #1864d6;
    color: rgba(255, 247, 247, 0.879);
}

.dropdown-sort select:focus,
.dropdown-subjects:focus {
    outline: none;
}

.create-question {
    display: flex;
    align-items: center;
    width: 90px;
    height: 30px;
    border-radius: 0.5rem;
    font-size: 18px;
    cursor: pointer;
    padding: 0.4rem;
    margin-left: auto;
    background-color: rgba(234, 238, 245, 0.342);
    justify-content: center;
    margin-left: 40%;
    
}

.create-title {
    margin-right: 5px;
}

.notification-bell {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 240, 244, 0.342);
}

.notification-bell:hover,
.create-question:hover {
    background-color: rgba(11, 105, 237, 0.5);
}
