.card {
  background-color: #1382c7;
  color: black;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  width: 790px;
  height: 280px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 115px;
  margin-left: 300px;
}

.profile-section {
  position: relative;
  width: 650px;
  height: 240px;
  display: flex;
  justify-content: space-between;
}

.profile-photo {
  position: relative;
  margin-top: 40px;
  height: 200px;
  width: 300px;
  text-align: center;
}

.profile-detail {
  position: relative;
  margin-top: 20px;
  height: 240px;
  width: 300px;
  text-align: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.profile-section h1 {
  font-size: 24px;
  margin: 10px 0;
}

.profile-section p {
  font-size: 14px;
  margin: 10px 0 20px;
}

.social-links a {
  color: white;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
}

.social-links i {
  margin-top: 10px;
}

.edit-profile-button {
  position: relative;
  background-color: rgba(255, 255, 255, 0.603);
  color: #05101d;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 90px;
}

.edit-button:hover {
  background-color: #16384e;
}

.email-link {
  color: white;
  text-decoration: wavy;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}