.video_page{
  display: flex;
}
.video_page .h1{
    display: flex;
}
.video{
    display: flex;
    max-width: 90%;
    align-items: flex-end;
    margin-left: 20%;
}
.video video {
    width: 100%; 
  }
.path {
    display: flex;
    font-size: 15px;
    color: #545353;
    margin-left: 20%;
    margin-top: 4%;

}
  
.path span {
    margin: 0 5px;
}
.path a {
    text-decoration: none;
    transition: color 0.3s ease; 
}
.path a:hover {
    color: #007bff; 
}
  
