.Preview-menu {
    margin-top: 5%;
    display: flex;
    list-style: none;
}

.Preview-menu-item {
    margin: 0 20px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #3e3d3d;
    transition: color 0.3s, box-shadow 0.3s;
    list-style: none;
}

.Preview-menu-item:hover {
    box-shadow: rgb(26, 26, 26) 0 30px 30px -20px;
    color: white;
    background-color: rgb(107, 185, 245);
}

.Preview-menu-item:active {
    box-shadow: rgb(26, 26, 26) 0 30px 30px -20px;
    color: white;
    background-color: rgb(44, 148, 233);
}

.Preview-main-div {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 10%;
    padding-right: 5%;
}


