.main_sidebar {
    position: fixed;
    left: 0;
    background-color: var(--bluenav);
    top: 60px;
    bottom: 73px;
    width: 17em;
    color: var(--white);
    padding-top: 3.1em;
    overflow-y: auto;
    border-top: 1px solid #fff;
    transition: width .2s;
}

.main_sidebar.pinned {
    left: -188px;
    transition: left .3s;
    /* Adjust as needed */
}

.list {
    position: relative;
    height: 3.8em;
    top: 5px;
    padding: 1em 1.5em;
    display: block;
    transition: background-color .20s;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
    transition: display 3s;
}

.sidebar-pin-button {
    position: absolute;
    right: 0px;
    top: 5px;
    background-color: var(--bluenav);
    color: #45547ae8;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 2em;
    transition: right 0.3s;
    border-bottom: 1px solid #fff;
    z-index: 5;
    transition: background-color .20s;
}

.sidebar-pin-button:hover {
    background-color: rgb(255, 255, 255);
}

.btn {
    display: flex;
    font-size: 1.5em;

}

.btn-title {
    display: inline;
    color: #45547ae8;
}

.list:hover {
    background-color: rgb(255, 255, 255);
    transition: background-color .2s;
}

.btn span i {
    display: inline-block;
    width: 3em;
    color: #45547ae8;
}

.web-support {
    position: fixed;
    bottom: 0;
    height: 73px;
    width: 21.3em;
    font-size: .8em;
    padding: 2em;
    border-top: .5px solid #fff;
    z-index: 10;
    background-color: var(--bluenav);
    padding-left: 5em;
    color: #45547ae8;
}

@media (max-width: 1395px) {
    .main_sidebar {
        left: 0;
        width: 4em;
        bottom: 0;
    }

    .btn-title {
        display: none;
    }

    .list {
        padding: 1em 1.2em;
    }

    .web-support {
        display: none;
    }

    .btn span i {
        width: 2em;
    }

    .list:hover .btn span {
        display: inline-flex;
    }

    .list:hover .btn-title {
        position: relative;
        display: block;
        background-color: rgba(54, 52, 59, 0.3);
        width: 120px;
        display: inline-table;
        z-index: 200;
        border-radius: 5px;
        text-align: center;
        font-size: .8em;
        padding-top: .11em;
    }

}

@media (max-width: 768px) {
    .main_sidebar {
        top: 40px;
    }
}

@media (max-height:500px) {
    .main_sidebar {
        overflow-y: auto;
    }
}

@media (max-height:585px) {
    .web-support {
        display: none;
    }

    .main_sidebar {
        bottom: 0;
    }
}