.main_sidebar {
    position: fixed;
    background-color: var(--blue);
    top: 60px;
    bottom: 73px;
    width: 17em;
    color: var(--white);
    padding-top: 2em;
    border-top: 1px solid #fff;
    transition: width .2s;  
}

.list{
    position: relative;
    height: 3.8em;
    top: 5px;
    padding: 1em 1.5em;
    display: block;
    transition: background-color .20s;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
    transition: display 3s;
}

.btn{
    display: flex;
    font-size: 1.5em;

}

.btn-title{
    display: inline;
}

.list:hover{
    background-color: rgba(255, 255, 255, .1);
    transition:  background-color .2s;
}

.btn span i{
    display: inline-block;
    width: 3em;
}

.web-support{
    position: fixed;
    bottom: 0;
    height: 73px;
    width: 21.3em;
    font-size: .8em;
    padding: 2em;
    border-top: .5px solid #fff;
    z-index: 10;
    background-color: var(--blue);
    padding-left: 5em;
}

@media (max-width: 1395px) {
    .main_sidebar {
      left: 0;
      width: 4em;
      bottom: 0;
    }
    .btn-title{
        display: none;
    }
    .list{
        padding: 1em 1.2em;
    }
    .web-support{
        display: none;
    }
    .btn span i{
        width: 2em;
    }
    .list:hover .btn span{
        display: inline-flex;
    }
    .list:hover .btn-title{
        position: relative;
        display: block;
        background-color: rgba(54, 52, 59, 0.3);
        width: 120px;
        display: inline-table;
        z-index: 200;
        border-radius: 5px;
        text-align: center;
        font-size: .8em;
        padding-top: .11em;
    }

}

@media (max-width: 768px) {
    .main_sidebar{
        top: 40px;
    }
}

@media (max-height:500px) {
    .main_sidebar{
        overflow-y: auto;
    }
}

@media (max-height:585px) {
    .web-support{
        display: none;
    }
    .main_sidebar {
        bottom: 0;
      }
}