.rightsidebar {
    position: fixed;
    right: -250px;
    top: 83px;
    bottom: 73px;
    width: 300px;
    background-color: var(--blue);
    color: var(--white);
    transition: right 0.3s;
    padding-top: 60px;
    overflow-y: auto;
    border-top: 1px solid #fff;
}

.rightsidebar.pinned {
    right: 0;
    /* Adjust as needed */
}

.pin-button {
    position: absolute;
    left: 0px;
    top: 5px;
    background-color: var(--blue);

    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 2em;
    transition: left 0.3s;
    border-bottom: 1px solid #fff;
    z-index: 5;
    transition: background-color .20s;
}

.pin-button:hover {
    background-color: rgba(255, 255, 255, .1);
}

.rightsidebar-Items {
    position: relative;
    height: auto;
    top: 5px;
    padding: 1em 1em;
    display: block;
    transition: background-color .20s;
    cursor: pointer;
    border-radius: 5px;
}

.rightsidebar-Items:hover {
    background-color: rgba(255, 255, 255, .1);
}

.sidebar-Item-title {
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    cursor: pointer;
}

.sidebar-Item-title span i {
    display: inline-block;
    width: 2em;
}

.sidebar-Item-title .toggle-btn {
    transition: transform .3s;
}

.rightsidebar-Items.open>.sidebar-Item-title .toggle-btn {
    transform: rotate(180deg);
}

.sidebar-Item-subtitle {
    padding-top: .25em;
    height: 0;
    overflow: hidden;
}

.rightsidebar-Items.open>.sidebar-Item-subtitle {
    height: auto;
}

.sidebar-Item-subtitle {
    font-size: .8em;
}

.rweb-support {
    position: fixed;
    bottom: 0;
    height: 73px;
    width: 300px;
    font-size: .8em;
    padding: 2em;
    border-top: .5px solid #fff;
    z-index: 10;
    background-color: var(--blue);
    padding-left: 5em;
}